.menuBar {
  display: flex;
  -webkit-tap-highlight-color: transparent !important;
  background: black;
}
.logo {
  position: fixed;
  top: 5px;
  left: 41vw;
}
@media only screen and (min-width: 768px) {
  .logo {
    left: 48vw;
  }
}
