html {
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  max-width: 768px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5 {
  margin: 0px;
  font-size: 1.4em;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}
@media only screen and (min-width: 768px) {
  body {
    margin-left: 29%;
  }
}
