.offeringsButton {
  background-color: #f4851e;
  height: 3em;
  text-align: center;
  width: 180px;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  letter-spacing: 0.094em;
  margin: 0 auto;
}
